/* importing fonts from web */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@300&display=swap');

/* applying margin 0 for whole body */
body{

  margin: 0 auto;
}

/* title styles */
#title {
height: 500px;
text-align: center;
/* adding background-image and gradient one on top of another  */
background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('/images/header.jpg');
overflow: auto;
overflow-anchor: top;
background-size: cover;

}

/* styles for page title */
#title h1{   
    color: beige;
    max-width: 780 px;
    position: relative;
    top: 40%;
    font-size: 36px;
    font-family: "Roboto Slab",serif 


}

/* styling profile image */
#profile img{
width: 100px;
height: 100px;
border-radius: 100%;
position: relative;
top: -50px;
left: 50%;
transform: translate(-50%, 0);
}

#profile h3{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 560px;
  left: 50%;
  transform: translate(-50%, 0);
  
  font-size: 18px;
  font-family: "Source Sans Pro",serif;
  /* max-width: 780px; */


}

#profileName{
  margin: 0;
  padding: 0;
  position: absolute;
  display: inline;
  left: 40%;
  top: 560px;
  transform: translate(-60%, 0);
  
  font-size: 18px;
  font-family: "Source Sans Pro",serif;
  /* max-width: 780px; */


}

#lastUpdated{
  margin: 0;
  padding: 0;
  position: absolute;
  display: inline;
  left: 55%;
  top: 560px;
 
  
  font-size: 18px;
  font-family: "Source Sans Pro",serif;
  /* max-width: 780px; */

}


#content{
  width: 66.67%;
  margin-top: 60px;
  margin-left: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  
}

#content h2{
  display: inline;
  font-family: "Roboto Slab",serif ;
  font-size: 36px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.25);
  
}
#content h3{
  font-family: "Roboto Slab",serif ;
  display: inline;
  font-size: 36px;
  font-weight: bold;
  color: rgba(51,51,51);
}
#content a{
  margin: 5px;
  display: block;
  text-decoration: none;
  color:  #42b4d6;
}
#content a:hover{

  text-decoration: underline;
}
#content img{
  width: 100%;
  margin-bottom: 60px;
}

#content p{
  color: rgba(51,51,51);
  font-family: "Source Sans Pro",serif;
  font-size: 18px;
  line-height: 32px;
}